@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: black;
}
.main{
    background-image: url(img/bg.jpg);  /* The image used */
    height: 100vh;
    position: relative;
    background-position: center center;
    background-size: max(1200px,100vw);
    background-repeat: no-repeat;
    background-size: auto;

}
.main .box{
    height: 80vh;
    width: 100%;
    opacity: 0.4;
    position: absolute;
    top: 0;
    background-color: black;

}
nav{
    display: flex;
    margin: auto;
    align-items: center;
    max-width: 60vw;
    justify-content: space-between;
    height: 60px;

}
nav img{
    color: red;
    width: 170px;
    position: relative;
    z-index: 1;
    top: 20px ;
}
nav button#sign{
    position: relative;
    z-index: 1;
    background-color: red;
    width:  95px;
    height: 40px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    border: none;
    border-radius: 0.5vh;
    top: 20px;
    cursor: pointer;
    margin: 20px;
}
nav button#lang{
    position: relative;
    z-index: 1;
    width:  95px;
    height: 40px;
    font-size: 20px;
    font-weight: 500;
    border: none;
    border-radius: 0.5vh;
    top: 20px;
    cursor: pointer;
    background-color: transparent;
    color: white;
    border: 1px solid white;
}
.hero{
    font-family: 'Martel Sans', sans-serif;
    height: 100%;
    display: flex;
    align-items: center;
    color: white;
    flex-direction: column;
    position: relative;
    justify-content: center;
    gap: 20px;
}
.hero> :first-child{
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 68px;
}
.hero> :nth-child(2){
    font-weight: 300;
    font-size: 30px;
}
.hero button{
    background-color: red;
    color: white;
    height: 70px;
    width: 300px;
    margin: 2px;
    border-color: red;
    border-radius: 0.5vh;
    font-size: 35px;
    font-weight: 500;
    cursor: pointer;
}
.hero input[type=text]{
    width: 500px ;
    height: 70px;
    border-radius: 0.5vh;
    padding-left: 20px;
    font-size: 35px;
}
.separation {
    height: 7px;
    background-color: rgb(46, 44, 44);
    position: relative;
    z-index: 20;
}

.first {
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;
}
.firImg {
    position: relative;
}

.firImg img {
    width: 555px;
    position: relative;
    z-index: 10;
}
.firImg video {
    position: absolute;
    top: 51px;
    right: 0;
    width: 555px;
}
section.first>div {
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}

section.first>div :nth-child(1) {
    font-size: 48px;
    font-weight: bolder;
}


section.first>div :nth-child(2) {
    font-size: 24px;

}
.second{
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    /* justify-content: center; */
    align-items: center;
}
section.second>div {
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}
section.second>div :nth-child(1) {
    font-size: 48px;
    font-weight: bolder;
}


section.second>div :nth-child(2) {
    font-size: 24px;

}

.third{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 75vw;
    margin: auto;
    color: white;
}
section.third>div{
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}
section.third>div :nth-child(1){
    font-size: 60px;
    font-weight: bolder;
}
section.third>div :nth-child(2){
    font-size: 24px;
}
.thirdimg{
    position: relative;

}
.thirdimg img{
    width: 600px;
    position: relative;
    z-index: 2;
}
.thirdimg video{
    position: absolute;
    width: 367px;
    top: 55px;
    right: 120px;
}
.fourth{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
section.fourth>div{
    display: flex;
    flex-direction: column;
    padding: 36px 0;
}
section.fourth>div :nth-child(1){
    font-size: 55px;
    font-weight: bolder;
}
section.fourth>div :nth-child(2){
    font-size: 24px;
}
section.fourth>div :nth-child(3){
    font-size: 24px;
}
section.fourth>div :nth-child(4){
    font-size: 24px;
}
.faq {
    background: black;
    color: white;
    padding: 34px;
}
.faq h2 {
    text-align: center;
    font-size: 48px;
}
.faqbox {
    transition: all 1s ease-out;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 24px;
    max-width: 70vw;
    margin: 34px auto;
    cursor: pointer;
}
.faqbox svg {
    filter: invert(1);
}
.faqbox:hover {
    background-color: #414141;
    color: white;
}






